[Unit]
Description=Lance le compte à rebours des téléphones et la lecture audio des défis

[Service]
Type=simple
WorkingDirectory=/home/pi/Desktop/Telephones-interactifs
ExecStart=/home/pi/Desktop/Telephones-interactifs/./startTelephone.sh
Restart=on-failure
RestartSec=1
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

